
    path {
        stroke: white;
        stroke-width: 0.5px;
        fill: rgb(79, 83, 163);
    }

    body {
        background-color: rgb(187, 225, 255);
        
        text-align: center;
        font-size: 175%;
        
    }
    h2 {
        font-size: 80%;
        position: absolute; top: 10%; right: 38%

    }

    h3 {
        font-size: 100%;
        position: absolute; top: 55%; left: 80%;
    }


    h4 {
        font-size: 100%;
        position: absolute; top: 53.7%; right: 85%;
    }

    .state-labels text {
        font-size: 16px;
        position: absolute;    

    }

                              