body {
    text-align: center;
    background-color: rgb(44, 44, 78);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 175%;
}

h1 {
    color: rgb(201, 22, 22)
}

